@model Object[]
@{
    ViewBag.Title = "ProductPreview";
    var Product = (BharaDibo.Models.Product)Model[0];
    var comments = (List<BharaDibo.Models.Comment>)Model[1];
    @Styles.Render("~/Content/css");
}

<div class="container" style="background-color:dimgrey">
    <div class="row m-5 pt-2">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 menuall">
            <img src="~/images/@Product.PRImage">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">

            <p class="itemheading allpwrite">@Product.PRName</p>

            <div class="d-inline-flex">
                <p class="addalliconsp">Type</p>
                <p class="addalliconspqua">@Product.PRType</p>
            </div>

            <p class="itemdes allpwrite">@Product.PRDescription</p>

            @*<div class="d-inline-flex">
                <p class="addalliconsp">Rating</p>
                <p class="addalliconspqua">@Product.PRRating</p>
            </div>*@

            <div>

            </div>

            <div class="d-inline-flex ">
                <p class="addalliconsp">Quantity</p>
                <p class="addalliconspqua">@Product.PRQuantity</p>
            </div>

            <p class="addalliconsp allpwrite">@Product.PRPrize /=</p>

            <button class="addtocart" onclick="location.href = '/home/AddToCart?id=@Product.PRID'">
                <p class="text-align-centre">ADD TO CART</p>
            </button>
        </div>
    </div>
    @if (Session["CUSName"] != null)
    {
        <form action="../CommentPost" method="post">
            <input name="ProductID" value="@Product.PRID" hidden />
            <div class="form-floating mt-3 mb-1">
                <textarea class="form-control cotext" name="CommentMessage" id="floatingTextarea" placeholder="Leave us a comment."></textarea>
            </div>
            <button type="submit" class="btn btn-success">Comment</button>
        </form>
    }
    else
    {
        <p>Log In to Comment</p>
    }


    @* <button type="button" class="btn btn-secondary">Edit</button>*@
    <div class="row">
        <div class="col-xl-5">
            <h2 class="headcomment">Comments</h2>
        </div>
    </div>
    <div class="row rowcomment">
        @foreach (var item in comments)
        {
            <div class="col-xl-12">
                <h5 class="Cusname">@item.CustName</h5>
                <p class="Cuscomment">@item.CommentMessage</p>
            </div>
        }

    </div>
</div>

@if (ViewBag.AddedItem != null)
{
    <script type="text/javascript">

        window.onload = function () {
        alert("@ViewBag.AddedItem");

    };
    </script>
}
@*@if (ViewBag.user != null)
    {
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.user");
                window.location.href = "../Login";
            };
    </script>
    }*@