@model BharaDibo.Models.Customer
@{
    ViewBag.Title = "Login";
}

<h1 class="text-center mt-1">Login</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal registerpage">
        <h2>Customer</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="UserEmail" class="col-form-label">Email</label>
            </div>
            <div class="col-md-10">
                <input type="email" class="form-control" id="UserEmail" name="CUSEmail" required />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="UserPassword" class="col-form-label">Password</label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" id="UserPassword" name="CUSPassword" required />
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn-lg btn-primary" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>@ViewBag.Notification</label>
            </div>
        </div>
    </div>
}

@if (ViewBag.Login != null)
{
    <script type="text/javascript">

               window.onload = function () {
           alert("@ViewBag.Login");
            window.location.href = "Index";
        };
    </script>
}
@if (ViewBag.user != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.user");
            window.location.href = "Index";
        };
    </script>
}
@if (ViewBag.loggedIn != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.loggedIn");
            window.location.href = "Index";
        };
    </script>
}