
@model List<BharaDibo.Models.Product>
@{
    ViewBag.Title = "Delete Item";
    @Styles.Render("~/Content/css")
}

<div class="container">
    <h2 class=" del mt-3">Delete Item</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 menuall bg-gradient bg-opacity-75 rounded-bottom">
                <div class="Items">
                    <img src="~/images/@item.PRImage">
                    <div class="allthings">
                        <p class="itemheading">@item.PRName<p>
                            <div class="add d-inline-flex">
                                <p class="addalliconsp">@item.PRPrize/=</p>
                            </div>
                            <button class="addtocart" onclick="location.href='../Admin/ItemDelete/@item.PRID'">
                                <p class="">Delete</p>
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                    </div>
                </div>
            </div>
        }
        @*<div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 menuall bg-gradient bg-opacity-75 rounded-bottom">
                <div class="Items">
                    <img src="~/images/gow.jpg">
                    <div class="allthings">
                        <p class="itemheading">itemhead<p>
                        <p class="itemdes">Item des</p>
                        <div class="add d-inline-flex">
                            <p class="addalliconsp">prize/=</p>
                        </div>
                        <button class="addtocart">
                            <p class="">Delete</p>
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </div>
            </div>*@
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @{
                int prepage = ViewBag.Page - 1;
                int postpage = ViewBag.Page + 1;
                bool predis;
                string urllink;
                urllink = "DeleteItem";
                if (ViewBag.Page == 1)
                {
                    predis = true;
                }
                else
                {
                    predis = false;
                }

                if (ViewBag.Page >= 2)
                {
                    <li class="page-item">
                        <a class="page-link" href="@urllink?page=@prepage" tabindex="-1" disabled="@predis" aria-label="Previous">
                            &laquo;
                        </a>
                    </li>
                }
            }
            @{
                for (int page = 1; page <= ViewBag.NumberOfPages; page++)
                {
                    string active;
                    if (page == ViewBag.Page)
                    {
                        active = "active";
                    }
                    else
                    {
                        active = "";
                    }
                    <li class="page-item @active"><a class="page-link" href="@urllink?page=@page">@page</a></li>
                }
            }
            @*<li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>*@
            @{
                if (postpage <= ViewBag.NumberOfPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@urllink?page=@postpage" aria-label="Next">
                            &raquo;
                        </a>
                    </li>
                }
            }

        </ul>
    </nav>
</div>
@if (ViewBag.AdminLogin != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.AdminLogin");
            window.location.href = "../Home/Index";
        };
    </script>
}